root = true

# Apply to all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# Python files
[*.py]
indent_style = space
indent_size = 4

# Dart files
[*.dart]
indent_style = space
indent_size = 2

# JSON
[*.json]
indent_size = 2

# YAML
[*.yml]
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false

# SQL
[*.sql]
indent_size = 4
